@font-face {
  font-family: "Grozen Medical";
  src: url("../fonts/grozenmedical/GROZEN-MEDICAL-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Grozen Medical";
  src: url("../fonts/grozenmedical/GROZEN-MEDICAL-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Grozen Medical", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: black;
}

#s1 {
  display: flex;
  align-items: center;
  background-image: url("../img/img01.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#s1 #s1-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6rem;
  width: 100%;
  height: 100%;
}
#s1 #s1-container img {
  width: 12rem;
}
#s1 #s1-container h2 {
  color: white;
  font-family: "Grozen Medical", sans-serif;
  font-weight: 400;
  letter-spacing: 8%;
  line-height: 35px;
}
#s1 #s1-container button {
  width: 22rem;
  height: 70px;
  font-size: 1.6rem;
}

#s2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bg02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
}
#s2 #s2-container {
  display: flex;
  height: 80%;
  width: 100%;
}
#s2 #s2-container #s2-img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#s2 #s2-container #s2-text {
  display: flex;
  align-items: center;
  justify-content: start;
}
#s2 #s2-container #s2-text p {
  letter-spacing: 6%;
  line-height: 18px;
}

#s2-s3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 120px;
}
#s2-s3 p {
  color: white;
  text-align: center;
  line-height: 26px;
}

#s3 {
  display: flex;
  background-color: white;
  background-image: url("/img/img04.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#s3 #s3-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#s3 #s3-container #s3-title {
  display: flex;
  justify-content: center;
}
#s3 #s3-container #s3-carroucel {
  display: flex;
  align-items: center;
  justify-content: center;
}
#s3 #s3-container #s3-carroucel #carrousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  padding-top: 20px;
  padding-left: 5px;
}
#s3 #s3-container #s3-carroucel #carrousel-container img {
  object-fit: cover;
  width: 100%;
}
#s3 #s3-container #s3-text {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  #s1 {
    background: url("../img/img01-mobile.png") center center no-repeat;
  }
  #s1 #s1-container {
    align-items: center;
    justify-content: space-evenly;
  }
  #s1 #s1-container img {
    width: 10rem;
  }
  #s1 #s1-container h2 {
    font-size: 1em;
    line-height: 24px;
  }
  #s1 #s1-container button {
    width: 14rem;
    height: 50px;
    font-size: 1em;
  }
  #s2 {
    background-image: none;
  }
  #s2 #s2-container {
    flex-direction: column;
  }
  #s2 #s2-container #s2-img {
    height: 40%;
  }
  #s2 #s2-container #s2-img img {
    height: 400px;
    padding-right: 225px;
    padding-bottom: 50px;
  }
  #s2 #s2-container #s2-text {
    align-items: start;
    overflow-y: scroll;
    height: 60%;
  }
  #s2 #s2-container #s2-text::-webkit-scrollbar {
    display: none;
  }
  #s2 #s2-container #s2-text p {
    padding: 10px 15px 0 15px;
  }
  #s2-s3 p {
    font-size: 0.6em;
  }
  #s3-title img {
    height: 30px;
    padding-top: 50px;
  }
  #carrousel-container {
    padding: 40px 0px !important;
  }
  #carrousel-container img {
    height: 230px;
  }
  #s3-text {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #s3-text p {
    padding: 30px 20px;
    font-size: 0.8em;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  #s1 {
    background-position: calc(50% - 200px) center;
  }
  #s1 #s1-container {
    padding-left: 84px;
  }
  #s2-container {
    flex-direction: column;
  }
  #s2-container #s2-img {
    height: 50%;
  }
  #s2-container #s2-img img {
    height: 600px !important;
    padding-right: 300px;
    padding-bottom: 100px;
  }
  #s2-container #s2-text {
    flex-direction: column;
    align-items: start;
    height: 50%;
  }
  #s2-container #s2-text p {
    padding-top: 50px;
  }
  #s3-title img {
    height: 50px;
    padding-top: 40px;
  }
  #carrousel-container {
    padding-left: 64px !important;
    gap: 64px;
  }
  #carrousel-container img {
    height: 400px !important;
  }
  #s3-text p {
    padding: 40px 30px;
  }
}
@media screen and (min-width: 993px) {
  #s1 {
    background-position: center center;
  }
  #s1 #s1-container {
    padding-left: 128px;
  }
  #s2-container div {
    width: 50%;
  }
  #s2-container #s2-img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #s2-container #s2-img img {
    height: 800px;
    padding-right: 250px;
    padding-bottom: 200px;
  }
  #s3-title img {
    height: 50px;
    padding-top: 80px;
  }
  #carrousel-container {
    padding-top: 80px !important;
  }
  #carrousel-container img {
    height: 180px;
  }
  #s3-text p {
    padding: 50px 0;
    font-size: 1em;
  }
}
.text-bold {
  font-weight: 900;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/*# sourceMappingURL=style.css.map */
