@font-face {
    font-family: 'Grozen Medical';
    src: url('../fonts/grozenmedical/GROZEN-MEDICAL-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Grozen Medical';
    src: url('../fonts/grozenmedical/GROZEN-MEDICAL-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-1: 'Grozen Medical', sans-serif;
$font-2: 'Roboto', sans-serif;

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-1;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: black;
}

#s1 {
    display: flex;
    align-items: center;
    background-image: url("../img/img01.png");
    background-repeat: no-repeat;
    background-size: cover;

    #s1-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 6rem;
        width: 100%;
        height: 100%;

        img {
            width: 12rem;
        }

        h2 {
            color: white;
            font-family: $font-1;
            font-weight: 400;
            letter-spacing: 8%;
            line-height: 35px;
        }

        button {
            width: 22rem;
            height: 70px;
            font-size: 1.6rem;
        }
    }
}

#s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../img/bg02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;

    #s2-container {
        display: flex;
        height: 80%;
        width: 100%;

        #s2-img {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        #s2-text {
            display: flex;
            align-items: center;
            justify-content: start;

            p {
                letter-spacing: 6%;
                line-height: 18px;
            }
        }
    }
}

#s2-s3 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    width: 100%;
    height: 120px;

    p {
        color: white;
        text-align: center;
        line-height: 26px;
    }
}

#s3 {
    display: flex;
    background-color: white;
    background-image: url('/img/img04.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #s3-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 100%;

        #s3-title {
            display: flex;
            justify-content: center;
        }

        #s3-carroucel {
            overflow: hidden;
            white-space: nowrap;
            margin-inline: auto;
            max-width: 80%;

            -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
            mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        
            #carrousel-container {
                display: flex;
                gap: 10px;
                width: max-content !important;
                animation: scroll 15s linear infinite;
    
                img {
                    object-fit: cover;
                }
            }

            &:hover #carrousel-container {
                animation-play-state: paused;
            }
        }

        #s3-text {
            display: flex;
            justify-content: center;
        }
    }
}

#s4 {
    background-image: url('../img/bg04.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#s5-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;

    div {
        display: flex;
        width: 100%;
    }

    #s5-title {
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        
        img {
            width: 500px;
        }
    }

    #s5-middle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            height: 400px;
            padding-top: 30px;
        }

        p {
            position: absolute;
            color: white;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            padding-left: 800px;
            padding-bottom: 80px;
            letter-spacing: 6%;
            line-height: 20px;
            font-size: 0.94em;
        }
    }

    #s5-button {
        align-items: center;
        justify-content: center;
        position: relative;

        button {
            width: 350px;
            height: 70px;
            font-size: 1.5em;
        }
    }
}

#s6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    img {
        width: 250px;
    }

    #tabela-de-planos {
        display: flex;
        gap: 64px;
        padding-top: 100px;

        p {
            font-family: $font-1;
            color: white;
        }

        .plano {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            width: 330px;

            .planos-textos {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 12px;
    
                p {
                    font-size: 2em;
                }
    
                .text-min {
                    font-size: 1em;
                }
            }
        }

        .divider {
            background-color: white;
            width: 98%;
            height: 2px;
        }

        Button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 98%;
            height: 40px;
            border-radius: 4px;
            border: none;
            p {
                font-size: $font-1;
                color: black;
            }
        }
    }

    #confirmação-planos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        gap: 32px;
        width: 100%;

        button {
            width: 250px;
        }

        #plano-info {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 85%;
            height: 200px;
            border-radius: 12px;
            padding: 14px;

            p {
                text-align: center;
                width: 100%;
                max-height: 100%;
            }
        }
    }
}

#planos-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #s1 {
        background: url('../img/img01-mobile.png') center center no-repeat;

        #s1-container {
            align-items: center;
            justify-content: space-evenly;

            img {
                width: 10rem;
            }

            h2 {
                font-size: 1em;
                line-height: 24px;
            }

            button {
                width: 14rem;
                height: 50px;
                font-size: 1em;
            }
        }
    }

    #s2 {
        background-image: none;

        #s2-container {
            flex-direction: column;

            #s2-img {
                height: 40%;

                img {
                    height: 400px;
                    padding-right: 225px;
                    padding-bottom: 50px;
                }
            }

            #s2-text {
                align-items: start;
                overflow-y: scroll;
                height: 60%;

                &::-webkit-scrollbar {
                    display: none;
                }

                p {
                    padding: 10px 15px 0 15px;
                }
            }
        }
    }

    #s2-s3 p {
        font-size: 0.6em;
    }

    #s3-title img {
        height: 30px;
        padding-top: 50px;
    }

    #s3-carroucel {
        -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent) !important;
        mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent) !important;

        #carrousel-container {
            padding: 40px 0px;
    
            img {
                height: 140px;
            }
        }
    }

    #s3-text {
        display: flex;
        justify-content: center;
        width: 100%;

        p {
            padding: 30px 20px;
            font-size: 0.8em;
        }
    }

    #s4 {
        background-image: url('../img/bg4-mobile.png');
    }

    #s5-title img {
        width: 300px !important;
    }

    #s5-middle img {
        height: 600px !important;
    }

    #s5-middle p {
        padding-left: 70px !important;
        padding-bottom: 165px !important;
        padding-top: 10px;
        font-size: 0.75em !important;
    }

    #s5-button button {
        position: absolute !important;
        bottom: 80px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 200px !important;
        height: 50px !important;
        font-size: 1em !important;
    }

    #tabela-de-planos, #confirmação-planos {
        display: none !important;
    }

    #s6 {
        display: flex;
        flex-direction: column;

        img {
            padding-top: 80px;
            width: 180px !important;
        }

        #planos-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 50px;
            gap: 32px;

            button {
                width: 200px;
            }

            #plano-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;
                padding: 16px;
                background-color: white;
                max-width: 80%;
                height: 300px;
                border-radius: 12px;
            }
        }
    }

    .br-desk {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #s1 {
        background-position: calc(50% + -200px) center;

        #s1-container {
            align-items: center;
            padding-left: 84px;
        }
    }

    #s2-container {
        flex-direction: column;

        #s2-img {
            height: 50%;

            img {
                height: 600px !important;
                padding-right: 300px;
                padding-bottom: 100px;
            }
        }

        #s2-text {
            flex-direction: column;
            align-items: start;
            height: 50%;

            p {
                padding-top: 50px;
            }
        }
    }

    #s3-title img {
        height: 50px;
        padding-top: 40px;
    }

    #carrousel-container {
        padding: 80px 0px !important;

        img {
            height: 250px;
        }
    }

    #s3-text p {
        padding: 40px 30px;
    }

    #s5-container {
        border-radius: 12px;
    }

    #s5-middle p {
        padding-left: 200px !important;
        padding-bottom: 165px !important;
        padding-top: 100px;
        font-size: 0.75em !important;
    }

    #tabela-de-planos, #confirmação-planos {
        display: none !important;
    }

    #s6 {
        display: flex;
        flex-direction: column;

        img {
            padding-top: 80px;
            width: 180px !important;
        }

        #planos-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 50px;
            gap: 32px;

            button {
                width: 200px;
            }

            #plano-info {
                display: flex;
                align-items: start;
                padding: 16px;
                background-color: white;
                max-width: 80%;
                height: 300px;
                border-radius: 12px;
            }
        }
    }

    .br-mob {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    #s1 {
        background-position: center center;

        #s1-container {
            padding-left: 128px;
        }
    }

    #s2-container {

        div {
            width: 50%;
        }

        #s2-img {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        
            img {
                height: 800px;
                padding-right: 250px;
                padding-bottom: 200px;
                
            }
        }
    }

    #s3-title img {
        height: 50px;
        padding-top: 80px;
    }

    #carrousel-container {
        padding: 40px 10px !important;

        img {
            height: 140px;
        }
    }

    #s3-text p {
        padding: 50px 0;
        font-size: 1em;
    }

    #s5-container {
        border-radius: 12px;
    }

    .br-mob {
        display: none;
    }

    .resizableText {
        text-align: center;
        font-size: calc(1vw + 1vh);
    }
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;

    .radio {
        flex: 1 1 auto;
        text-align: center;

        Input {
            display: none;
        }

        .name {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;
            border: none;
            padding: .5rem 0;
            color: rgba(51, 65, 85, 1);
            transition: all .15s ease-in-out;
        }
    }
}

.radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.text-bold { font-weight: 900; }

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.resizableText {
    font-family: $font-2 !important;
}

@keyframes scroll {
    to {
        translate: (-50%);
    }
}