@font-face {
    font-family: 'Grozen Medical';
    src: url('../fonts/grozenmedical/GROZEN-MEDICAL-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Grozen Medical';
    src: url('../fonts/grozenmedical/GROZEN-MEDICAL-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

$font-1: 'Grozen Medical', sans-serif;

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-1;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: black;
}

#s1 {
    display: flex;
    align-items: center;
    background-image: url("../img/img01.png");
    background-repeat: no-repeat;
    background-size: cover;

    #s1-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 6rem;
        width: 100%;
        height: 100%;

        img {
            width: 12rem;
        }

        h2 {
            color: white;
            font-family: $font-1;
            font-weight: 400;
            letter-spacing: 8%;
            line-height: 35px;
        }

        button {
            width: 22rem;
            height: 70px;
            font-size: 1.6rem;
        }
    }
}

#s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../img/bg02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;

    #s2-container {
        display: flex;
        height: 80%;
        width: 100%;

        #s2-img {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        #s2-text {
            display: flex;
            align-items: center;
            justify-content: start;

            p {
                letter-spacing: 6%;
                line-height: 18px;
            }
        }
    }
}

#s2-s3 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    width: 100%;
    height: 120px;

    p {
        color: white;
        text-align: center;
        line-height: 26px;
    }
}

#s3 {
    display: flex;
    background-color: white;
    background-image: url('/img/img04.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #s3-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        #s3-carroucel {
            overflow: hidden;
            
            #carrousel-container {
                display: flex;
                width: 100%;
                transition: transform 0.5s ease-in-out;
                transform: translateX(0);
                overflow-x: scroll;
                

                img {
                    object-fit: cover;
                    
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #s1 {
        background: url('../img/img01-mobile.png') center center no-repeat;

        #s1-container {
            align-items: center;
            justify-content: space-evenly;

            img {
                width: 10rem;
            }

            h2 {
                font-size: 1em;
                line-height: 24px;
            }

            button {
                width: 14rem;
                height: 50px;
                font-size: 1em;
            }
        }
    }

    #s2 {
        background-image: none;

        #s2-container {
            flex-direction: column;

            #s2-img {
                height: 40%;

                img {
                    height: 400px;
                    padding-right: 225px;
                    padding-bottom: 50px;
                }
            }

            #s2-text {
                align-items: start;
                overflow-y: scroll;
                height: 60%;

                &::-webkit-scrollbar {
                    display: none;
                }

                p {
                    padding: 10px 15px 0 15px;
                }
            }
        }
    }

    #s2-s3 p {
        font-size: 0.6em;
    }

    #s3-title img {
        height: 30px;
        padding-top: 10px;
    }

    #carrousel-container img {
        height: 230px;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #s1 {
        background-position: calc(50% + -200px) center;

        #s1-container {
            padding-left: 84px;
        }
    }

    #s2-container {
        flex-direction: column;

        #s2-img {
            height: 50%;

            img {
                height: 600px !important;
                padding-right: 300px;
                padding-bottom: 100px;
            }
        }

        #s2-text {
            flex-direction: column;
            align-items: start;
            height: 50%;

            p {
                padding-top: 50px;
            }
        }
    }
}

@media screen and (min-width: 993px) {
    #s1 {
        background-position: center center;

        #s1-container {
            padding-left: 128px;
        }
    }

    #s2-container {

        div {
            width: 50%;
        }

        #s2-img {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        
            img {
                height: 800px;
                padding-right: 250px;
                padding-bottom: 200px;
                
            }
        }
    }
}


.text-bold { font-weight: 900; }

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}