@font-face {
    font-family: 'Grozen Medical';
    src: url('../fonts/grozenmedical/GROZEN-MEDICAL-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Grozen Medical';
    src: url('../fonts/grozenmedical/GROZEN-MEDICAL-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

$font-1: 'Grozen Medical', sans-serif;

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-1;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: black;
}

#s1 {
    display: flex;
    align-items: center;
    background-image: url("../img/img01.png");
    background-repeat: no-repeat;
    background-size: cover;

    #s1-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 128px;
        gap: 64px;
        width: 100%;
        height: 100%;

        img {
            width: 250px;
        }

        h2 {
            color: white;
            font-family: $font-1;
            font-weight: 400;
            letter-spacing: 5%;
            line-height: 35px;
        }

        button {
            width: 360px;
            height: 70px;
            font-size: 1.6rem;
        }
    }
}

#s2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/img02.png');
    background-color: white;
    background-repeat: no-repeat;background-position: center;
    background-size: cover;
    overflow: hidden;

    #s2-container {
        display: flex;
        flex: auto;
        width: 100%;

        div {
            height: 100%;
            width: 50%;
        }

        div:first-child {
            display: flex;
            align-items: center;
            justify-content: end;
            position: relative;
        }

        div:last-child {
            display: flex;
            padding-top: 150px;
        }
    }

    #s2-bottom {
        position: absolute;
        text-align: center;
        background-color: black;
        color: white;
        bottom: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        padding: 30px 0px;
    }
}

#s3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/img04.png');
    background-repeat: no-repeat;
    background-position-y: -40px;
    background-size: cover;
    background-color: white;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;

    #s3-top {
        padding: 25px 0px;
        width: 100%;
        text-align: center;
        background-color: black;
        color: white;

        p {
            letter-spacing: 6%;
        }
    }

    #carousel {
        display: flex;
        padding-top: 140px;
        padding-bottom: 10px;

        img {
            width: 300px;
        }
    }

    #s3-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        width: 100%;
    }
}

#s4 {
    background: url('../img/img05.png') no-repeat center center;
    background-size: cover;
}

#s5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    background-image: url('../img/img06.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center top;
    background-position-y: 100px;
}

@media screen and (max-width: 768px) {
    #s1 {
        flex-direction: column;
        background-image: url('../img/img01-mobile.png');
        background-size:contain;

        #s1-container {
            padding: 0;
            align-items: center;
            justify-content: center;

            img {
                width: 124px;
                padding-top: 50px;
            }

            h2 {
                font-size: 1.2em;
                text-align: center;
                padding-top: 100px;
            }

            button {
                width: 250px;
                height: 50px;
                font-size: 1em;
                margin-bottom: 50px;

                span {
                    font-size: 1em;
                }
            }
        }

        #s1-botton {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 100%;
            height: 200px;
            border-top-right-radius: 24px;
            border-top-left-radius: 24px;

            img {
                width: 200px;
            }
        }
    }

    #s2 {
        background-color: white;
        background-image: none;
        box-shadow: none;

        #s2-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div {
                width: 100%;
            }

            div:first-child {
                align-items: center;
                justify-content: center;
                height: 35%;

                #s2-img {
                    position: relative;
                    width: 800px;
                    padding-right: 325px;
                }
            }

            div:last-child {
                justify-content: center;
                padding-top: 50px;
                overflow-y: scroll;

                p {
                    padding: 0px 10px;
                }
            }
        }

        #s2-bottom {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    #s2 {
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
    }

    #s2-img {
        position: absolute;
        width: 1200px;
        bottom: -100px;
        right: -150px;
    }
}

.text-bold { font-weight: 900; }

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}